h1 {
  color: green;
  background: darkgreen;
  text-align: center;
}

p {
  font-size: 25px;
}

#question1 {
  color: green;
}
#question2 {
  color: green;
}
#question3 {
  color: green;
}
#question4 {
  color: green;
}
#question5 {
  color: green;
}
#question6 {
  color: green;
}
#answer1 {
  color: red;
}
#answer2 {
  color: red;
}
#answer3 {
  color: red;
}
#answer4 {
  color:red;
}
#answer5 {
  color: red;
}
#answer6 {
  color: red;
}
